// @mixin chessboard-theme(
//   $name,
//   $coordinates-white,
//   $coordinates-black,
//   $coordinates-frame,
//   $border,
//   $default,
//   $red,
//   $green,
//   $blue
// ) {
//   .chessboard.#{$name} {
//     .border-inner {
//       fill: none;
//       stroke: $border;
//       stroke-width: 0.5%;
//     }
//     .coordinates {
//       pointer-events: none;
//       user-select: none;

//       .coordinate {
//         fill: $coordinates-frame;
//         cursor: default;
//         text-transform: uppercase;
//         text-shadow: 0 0 1px #000;
//         &.black {
//           fill: $coordinates-black;
//           text-shadow: none;
//         }
//         &.white {
//           fill: $coordinates-white;
//           text-shadow: none;
//         }
//       }
//     }
//
//   }
// }

@mixin chessboard-theme(
  $name,
  $image,
  $coords-white,
  $coords-black,
  $coords-frame,
  $border,
  $default,
  $red,
  $green,
  $blue
) {
  .chessboard-theme.#{$name} {
    .cw-wrapper {
      border-color: $border;
      background-color: $border;
    }
    .cw-container {
      // &.outside {
      border-color: $coords-frame;
      // }
      &::before {
        content: " ";
        display: block;
        background-color: #fff;
        background-size: cover;
        background-image: url(#{$image});
      }
      .markers {
        font-size: initial;
        .default {
          stroke: $default;
          fill: $default;
          background: $default;
          border-color: $default;
          color: $default;
        }
        .red {
          stroke: $red;
          fill: $red;
          background: $red;
          border-color: $red;
          color: $red;
        }
        .green {
          stroke: $green;
          fill: $green;
          background: $green;
          border-color: $green;
          color: $green;
        }
        .blue {
          stroke: $blue;
          fill: $blue;
          background: $blue;
          border-color: $blue;
          color: $blue;
        }
      }
    }

    .chessboard-coords .coords {
      &:not(.outside) {
        .coord {
          &.white {
            text-shadow: none;
            color: $coords-white;
          }
          &.black {
            text-shadow: none;
            color: $coords-black;
          }
        }
      }
      .coord {
        color: $coords-frame;
        cursor: default;
        text-transform: uppercase;
        text-shadow: 0 0 1px #000;
      }
    }
  }
}
